SeminarProposal/SeminarProposal.pdf
Paper/livecoms-template-softwareanalyses.aux
Paper/livecoms-template-softwareanalyses.fdb_latexmk
Paper/livecoms-template-softwareanalyses.fls
Paper/livecoms-template-softwareanalyses.log
Paper/livecoms-template-softwareanalyses.out
Paper/livecoms-template-softwareanalyses.suppinfo
Paper/livecoms-template-softwareanalyses.synctex.gz
